// Bootstrap default navbar color
$navbar-default-bg: #fff;

//$font-family-sans-serif: "DM Sans" !default;
$font-family-sans-serif: "Raleway" !default;
// Main yellow color

$color-main-blue: #007bff;

$color-main-yellow: #f9d53e;
$color-main-yellow-shadow: #c8aa39;
